[Unit]
Description=Git Plan Oracle
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=%h/.local/share/git-plan
ExecStart=/bin/sh -c "./venv/bin/python -m git_plan.__oracle__"

[Install]
WantedBy=multi-user.target
